extends generic.pug

block scripts
    include ../includes/scripts.pug
    if user
        script.
            var user = {
                _id: "#{user._id}",
                id: "#{user.id}",
                name: "#{user.name}",
                icon: "#{user.icon}",
                subscriptions: []
            }

        each subscription in user.subscriptions
            script.
                user.subscriptions.push('#{subscription}')

block styles
    include ../includes/styles.pug

block title
    title ATLAS Hub